# Masukkan URL Web App Google Apps Script Anda di sini (Opsional jika menggunakan backend lokal)
# Contoh: https://script.google.com/macros/s/AKfycb.../exec
VITE_API_URL=http://api.tokata.site:8000/api-admin.php
