# Masukkan URL Web App Google Apps Script Anda di sini (Opsional jika menggunakan backend lokal)
# Contoh: https://script.google.com/macros/s/AKfycb.../exec
VITE_API_URL=https://script.google.com/macros/s/AKfycbwRvcXUI1GVEo-Uc83Y_8eizho-LWPlsHXmcsA_tg2JAspUl9LBF5Sdak3MpiQduajt2g/exec